In [4]:
import pandas as pd

In [6]:
df=pd.read_parquet("flights.parquet")
df

         DEPARTURE_DELAY  ARRIVAL_DELAY  DISTANCE  SCHEDULED_DEPARTURE
0                  -11.0          -22.0      1448             0.083333
1                   -8.0           -9.0      2330             0.166667
2                   -2.0            5.0      2296             0.333333
3                   -5.0           -9.0      2342             0.333333
4                   -1.0          -21.0      1448             0.416667
...                  ...            ...       ...                  ...
5819074             -4.0          -26.0      2611            23.983333
5819075             -4.0          -16.0      1617            23.983333
5819076             -9.0           -8.0      1598            23.983333
5819077             -6.0          -10.0      1189            23.983333
5819078             15.0            2.0      1576            23.983333

[5819079 rows x 4 columns]

In [29]:
import pandas as pd
import scipy.stats as stats

# Load the dataset
df = pd.read_parquet("flights.parquet")

# Filter the dataset
filtered_df = df[(df['DISTANCE'] < 300) & (df['SCHEDULED_DEPARTURE'] >= 13) & (df['SCHEDULED_DEPARTURE'] < 21)]

# Remove rows with NaN or inf values
filtered_df = filtered_df.dropna(subset=['DEPARTURE_DELAY', 'ARRIVAL_DELAY'])

# Calculate the Pearson correlation coefficient
correlation, _ = stats.pearsonr(filtered_df['DEPARTURE_DELAY'], filtered_df['ARRIVAL_DELAY'])
print(correlation)

0.9543968011856039

In [28]:
import pandas as pd
import scipy.stats as stats

# Load the dataset
df = pd.read_parquet("flights.parquet")

# Filter the dataset
filtered_df = df[(df['DISTANCE'] < 650) & (df['SCHEDULED_DEPARTURE'] >= 8) & (df['SCHEDULED_DEPARTURE'] < 15)]

# Remove rows with NaN or inf values
filtered_df = filtered_df.dropna(subset=['DEPARTURE_DELAY', 'ARRIVAL_DELAY'])

# Calculate the Pearson correlation coefficient
correlation, _ = stats.pearsonr(filtered_df['DEPARTURE_DELAY'], filtered_df['ARRIVAL_DELAY'])
print(correlation)

0.9517277344666685

In [30]:
import pandas as pd

# Load the dataset
df = pd.read_parquet("flights.parquet")

# Filter for flights traveling less than 2400 miles with scheduled departure between 0:00 and 1:00
filtered_df = df[(df['DISTANCE'] < 2400) & (df['SCHEDULED_DEPARTURE'] >= 0) & (df['SCHEDULED_DEPARTURE'] < 1)]

# Calculate Q1 and Q3 for arrival delays
Q1 = filtered_df['ARRIVAL_DELAY'].quantile(0.25)
Q3 = filtered_df['ARRIVAL_DELAY'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Determine the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Count the number of outlier arrival delays
outliers = filtered_df[(filtered_df['ARRIVAL_DELAY'] < lower_bound) | (filtered_df['ARRIVAL_DELAY'] > upper_bound)]
outlier_count = outliers.shape[0]

print(outlier_count)

1063

In [31]:
import pandas as pd

# Load the dataset
df = pd.read_parquet("flights.parquet")

# Filter for flights traveling less than 2400 miles with scheduled departure between 0:00 and 1:00
filtered_df = df[(df['DISTANCE'] < 2950) & (df['SCHEDULED_DEPARTURE'] >= 22) & (df['SCHEDULED_DEPARTURE'] < 23)]

# Calculate Q1 and Q3 for arrival delays
Q1 = filtered_df['ARRIVAL_DELAY'].quantile(0.25)
Q3 = filtered_df['ARRIVAL_DELAY'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Determine the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Count the number of outlier arrival delays
outliers = filtered_df[(filtered_df['ARRIVAL_DELAY'] < lower_bound) | (filtered_df['ARRIVAL_DELAY'] > upper_bound)]
outlier_count = outliers.shape[0]

print(outlier_count)

9798

In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression


df = pd.read_csv("house-rent.csv")

# Filter for Unfurnished houses in Kolkata and Chennai
kolkata_unfurnished = df[(df['City'] == 'Kolkata') & (df['Furnishing Status'] == 'Unfurnished')]
chennai_unfurnished = df[(df['City'] == 'Chennai') & (df['Furnishing Status'] == 'Unfurnished')]

# Function to perform linear regression and get the slope
def get_slope(df):
    X = df[['Size']].values  # Independent variable
    y = df['Rent'].values    # Dependent variable
    
    model = LinearRegression()
    model.fit(X, y)
    
    slope = model.coef_[0]
    return slope

# Get the slope for Kolkata
kolkata_slope = get_slope(kolkata_unfurnished)

# Get the slope for Chennai
chennai_slope = get_slope(chennai_unfurnished)

# Calculate the absolute difference
slope_difference = abs(kolkata_slope - chennai_slope)
print(slope_difference)

6.386216040838555

In [35]:
import pandas as pd
from sklearn.linear_model import LinearRegression


df = pd.read_csv("house-rent.csv")

# Filter for Unfurnished houses in Hyderabad and Delhi
hyderabad_semiunfurnished = df[(df['City'] == 'Hyderabad') & (df['Furnishing Status'] == 'Semi-Furnished')]
delhi_semiunfurnished = df[(df['City'] == 'Delhi') & (df['Furnishing Status'] == 'Semi-Furnished')]

# Function to perform linear regression and get the slope
def get_slope(df):
    X = df[['Size']].values  # Independent variable
    y = df['Rent'].values    # Dependent variable
    
    model = LinearRegression()
    model.fit(X, y)
    
    slope = model.coef_[0]
    return slope

# Get the slope for Hyderabad
kolkata_slope = get_slope(hyderabad_semiunfurnished)

# Get the slope for Delhi
chennai_slope = get_slope(delhi_semiunfurnished)

# Calculate the absolute difference
slope_difference = abs(kolkata_slope - chennai_slope)
print(slope_difference)

9.829769530593083

In [1]:
import pandas as pd

# Load the Parquet file
parquet_file = 'est_hourly.parquet'
df = pd.read_parquet(parquet_file)

# Check if the index is a DatetimeIndex
if isinstance(df.index, pd.DatetimeIndex):
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'Datetime'}, inplace=True)
else:
    # If the index is not a DatetimeIndex, print the first few rows to understand the data format
    print(df.head())

In [2]:
df.head()

,Datetime,AEP,COMED,DAYTON,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load
0,1998-12-31 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29309.0
1,1998-12-31 02:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28236.0
2,1998-12-31 03:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27692.0
3,1998-12-31 04:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27596.0
4,1998-12-31 05:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27888.0

In [31]:
import pandas as pd

# Load the Parquet file
parquet_file = 'est_hourly.parquet'
df = pd.read_parquet(parquet_file)

# Check if the index is a DatetimeIndex
if isinstance(df.index, pd.DatetimeIndex):
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'Datetime'}, inplace=True)
else:
    # If the index is not a DatetimeIndex, print the first few rows to understand the data format
    print(df.head())

In [32]:
df.head()

,Datetime,AEP,COMED,DAYTON,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load
0,1998-12-31 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29309.0
1,1998-12-31 02:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28236.0
2,1998-12-31 03:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27692.0
3,1998-12-31 04:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27596.0
4,1998-12-31 05:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27888.0

In [33]:
import pandas as pd

# Assuming your DataFrame is named df and 'Datetime' column is already in datetime format
# If 'Datetime' is not in datetime format, convert it first
# df['Datetime'] = pd.to_datetime(df['Datetime'])

# Filter data for March 2007
march_2007_data = df[(df['Datetime'].dt.year == 2008) & (df['Datetime'].dt.month == 1)]

# Reset index to have a sequential index
march_2007_data.reset_index(inplace=True, drop=True)

# Display or use the filtered data
print(march_2007_data)

                     Datetime      AEP  COMED  DAYTON  DEOK      DOM     DUQ  \
0   2008-01-01 00:00:00+00:00  15411.0    NaN  1767.0   NaN  10379.0  1548.0
1   2008-01-31 01:00:00+00:00  19001.0    NaN  2337.0   NaN  10776.0  1613.0
2   2008-01-31 02:00:00+00:00  18728.0    NaN  2288.0   NaN  10701.0  1608.0
3   2008-01-31 03:00:00+00:00  18664.0    NaN  2268.0   NaN  10798.0  1571.0
4   2008-01-31 04:00:00+00:00  18730.0    NaN  2260.0   NaN  10990.0  1575.0
..                        ...      ...    ...     ...   ...      ...     ...
739 2008-01-01 20:00:00+00:00  19403.0    NaN  2466.0   NaN  12220.0  1877.0
740 2008-01-01 21:00:00+00:00  19270.0    NaN  2446.0   NaN  12129.0  1868.0
741 2008-01-01 22:00:00+00:00  18945.0    NaN  2393.0   NaN  11790.0  1847.0
742 2008-01-01 23:00:00+00:00  18593.0    NaN  2311.0   NaN  11127.0  1746.0
743 2008-01-02 00:00:00+00:00  18108.0    NaN  2264.0   NaN  10588.0  1638.0

     EKPC  FE       NI     PJME    PJMW  PJM_Load
0     NaN NaN  11198.0  30998.0  5399.0       NaN
1     NaN NaN  12480.0  31008.0  6003.0       NaN
2     NaN NaN  11934.0  30277.0  5980.0       NaN
3     NaN NaN  11636.0  30024.0  5960.0       NaN
4     NaN NaN  11457.0  30212.0  5944.0       NaN
..    ...  ..      ...      ...     ...       ...
739   NaN NaN  13165.0  36074.0  6701.0       NaN
740   NaN NaN  13107.0  35623.0  6625.0       NaN
741   NaN NaN  12996.0  34271.0  6443.0       NaN
742   NaN NaN  12665.0  32089.0  6192.0       NaN
743   NaN NaN  12049.0  29961.0  5895.0       NaN

[744 rows x 13 columns]

In [35]:
# Assuming your datetime column is named 'Datetime'
march_2007_data['Datetime'] = march_2007_data['Datetime'].dt.tz_localize(None)

# Now, try exporting to Excel again
march_2007_data.to_excel('data1.xlsx', index=False)

C:\Users\Asus\AppData\Local\Temp\ipykernel_14840\2185688526.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  march_2007_data['Datetime'] = march_2007_data['Datetime'].dt.tz_localize(None)